body{
  width: 100%;
  margin: 0px;
  background: #26a69a;
  background-size: cover;
  color:  white;
  font-size: 30px;
  font-family: 'Jua', sans-serif;
}
table{
  border-collapse: collapse;
  
}
table td {

  padding: 0px;
  width: 100px;
  border: 10px solid #00796b;
  margin : 10px;
  text-align: center;
  height : 100px;
  line-height: 100px;
  cursor: pointer;
  font-size: 50px;

}

.container{
  max-width: 400px;
  margin: 10px auto 0 auto;

}
/*
.prompt
{
  position: absolute;
  top:0px;
  left: 0px;
  border-color: blue;
  border-width: 20px;
} */
/*
.box{
  visibility: hidden;
} */
